# 1. LONGEST & SHORTEST names
---

In [ ]:
(SELECT Firstname, LENGTH(Firstname) FROM `tc-da-1.adwentureworks_db.contact` ORDER BY LENGTH(Firstname) DESC LIMIT 1)
    UNION ALL
(SELECT Firstname, LENGTH(Firstname) FROM `tc-da-1.adwentureworks_db.contact` ORDER BY LENGTH(Firstname), Firstname LIMIT 1)

# 2. ONLY SPECIFIC CHARACTERS
---

In [ ]:
# BigQuery
SELECT Firstname
FROM `adwentureworks_db.contact`
WHERE REGEXP_CONTAINS (Firstname, '^[AEIOUaeiou]')
# MySQL
SELECT Firstname
FROM `adwentureworks_db.contact`
WHERE Firstname REGEXP '^[AEIOUaeiou]'

# 3. DATE from FULL DATE format
---

In [ ]:
SELECT header.OrderDate, DATE_SUB(DATE_ADD(DATE_TRUNC(DATE(header.OrderDate), MONTH), INTERVAL 1 MONTH), INTERVAL 1 DAY) AS order_month1, 
FROM `adwentureworks_db.salesorderheader` AS header
GROUP BY header.OrderDate, order_month1, order_month2;

In [ ]:
SELECT header.OrderDate, LAST_DAY(CAST(header.OrderDate AS DATE)) AS order_month2
FROM `adwentureworks_db.salesorderheader` AS header
GROUP BY header.OrderDate, order_month1, order_month2;